#navbar-tags .ReactTags__suggestions{
  z-index: 8;
}
#navbar-tags.ReactTags__tagInputField{
  width: 100%;
}
#navbar-tags .ReactTags__tag{
  float: left;
}
#navbar-tags .ReactTags__tagInput{
  float: right;
  width: 60%;
  margin-top: 2px;
}