@import url('https://fonts.googleapis.com/css?family=Barlow|Pacifico');

.navBar {
	background-color: #E8EAF6;
	width: 100%;
	height: 64px;
	top: 0;
}
.logoBox {
	width: 15%;
	height: 64px;
	display: table;
	float: left;
	text-align: center;
}
.logoText {
	font-family: 'Pacifico', cursive;
	font-size: 23px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}
.logoText link {
	text-decoration: none;
	color: #0D47A1;
}
.componentBox {
	width: 85%; 
	height: 64px;
	display: table;
	float: right;
}
.searchBox {
	width: 80%;
	height: 64px;
	display: table;
	float: left;
}
.searchBox button {
	margin-left: 10px;
	margin-right: 20px;
}
.infoBox {
	width: 20%;
	height: 64px;
	display: table;
	float: right;
	text-align: center;
}
.userBox {
	float: left;
	width: 50%;
	height: 64px;
	text-align: center;
	display: table;
}
.userText {
	font-family: 'Barlow', sans-serif;
	font-size: 17px;
	display: table-cell;
	vertical-align: middle;
}
.settingBox {
	float: right;
	width: 50%;
	height: 64px;
	text-align: center;
	display: table;
	vertical-align: middle;
}
.settingText {
	font-family: 'Barlow', sans-serif;
	font-size: 17px;
	display: table-cell;
	vertical-align: middle;
}