body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Page Layout */
.full-width {
  max-width:100%;
  top:0;
  left:0;
  min-width: 100%;
  background-color: #FFFFFF;
}
.col-md-1-5 { 
  width: 12.5%; 
  background-color: #FFFFFF;
}
.col-md-10-5 { 
  width: 87.5%; 
}

/* Tagbar */
.component-tag-bar span{
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 90%;
}

/* read-pinnedBox */
.component-read-pinned-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
.component-read-pinned-box h3{
  color: #2c3e50 !important;
  padding-bottom: 0px;
}
.component-read-pinned-box h3::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.component-read-pinned-box img{
  width: 100%;
}
.component-read-pinned-box .title{
  margin-top: 10px;
  margin-bottom: 5px;
}
.component-read-pinned-box .content{
  margin-bottom: 5px;
}
.component-read-pinned-box .tags{
  margin-right: 5px;
}
.component-read-pinned-box .box{
  margin-bottom: 10px;
}

/* NavBar */
.searchBar {
  width: 70%;
}
.searchForm{
  margin-right: 30px;
}
.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

/* MenuBar */
.component-menu-bar .btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none!important;
}
.component-menu-bar{
  margin-top: 40px;
  margin-left: 5px;
}
.component-menu-bar button{
  border-radius: 0;
  width: 100%;
  margin-top: 5px;
  background-color: #E1F5FE;
  margin-bottom: 20px;
  color: black;
}
.component-menu-bar button:hover{
  background-color: #03A9F4;
}
.component-menu-bar img{
  width: 20px;
}
.component-menu-bar .row {
  width: 100%;
}
#tab_button{
  border-radius: 0;
  margin-top: 10px;
  background-color: #FFFFFF;
  margin-bottom: 0px;
}
#tab_button:hover{
  background-color: #EEEEEE;
}
#tab_button:focus,
#tab_button:active,
#tab_button:active {
  background-color: #C5CAE9;
  border-color: #C5CAE9;
}

/* boxlayout */
.ellipse{
  width:100%; padding:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.multi-ellipse{
  text-align: justify;
  display: -webkit-box; display: -ms-flexbox; display: box; margin-top:1px; max-height:78px; overflow:hidden; vertical-align:top; text-overflow: ellipsis; word-break:break-all; -webkit-box-orient:vertical; -webkit-line-clamp:3
}